body {
    background-color: rgb(11, 66, 102);
    color: white;
    font-size: 20pt;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    text-align: center;
    margin-top: 20px;

}

section {
    background-color: rgba(255, 255, 255, 0.221);
    width: 500px;
    margin: auto;
    color: black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.329);
}

div {
    text-align: center
}

div.tamanho , img {
    max-width: 110px;
    max-height: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.403);
    width: auto;
    height: auto;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin: auto;
    transform: translate(14px, 4px);
    
}

footer {
    text-align: center;
    margin: 20px;
    color: white;
}
footer > a {
    color: white;
    font-style: italic;
    text-decoration: none;
    
}