
body {
    background-color: rgb(11, 66, 102);
    color: white;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    text-align: center;
    margin-top: 20px;

}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    color: black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.329);
}

footer {
    text-align: center;
    margin: 20px;
    color: white;
}
footer > a {
    color: white;
    font-style: italic;
    text-decoration: none;
    
}